#apMap {
     width: 50%;
     margin: 0 auto;
     height: 100%;
 }

#Antwerpenmap {
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

#Brusselmap {
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

#Limburgmap {
    width: 50%;
    margin: 0 auto;
    height: 100%;
}


